  <!-- Page Header -->
<header class="masthead" style="background-image: url('/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>My Name Is Dilraj Singh.</p>
            <p>I am a Web-Developer from Winnipeg, Canada.</p>
            <p>I like Exploring new Technologies and tools to create awesome web applications.</p>
        </div>
    </div>
</div>
