@{
    ViewBag.Title = "Home Page";
}

@model List<CreateHomeViewModel>

<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Personal Blog</h1>
                    <span class="subheading">A Blog Website By Dilraj Singh.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            @if (!Model.Any())
            {
                <div class="post-preview">
                    <h1 class="post-title">No Post to See.</h1>
                    <h2 class="post-subtitle">Head to the <a href=@Url.Action("Create", "Home")><mark> Create Post Page </mark></a> to create a Blog Post.</h2>
                </div>
            }
            else
            {
                foreach (CreateHomeViewModel post in Model)
                {
                    <div class="post-preview">
                        <a href=@Url.Action("Details", "Home", new { id = post.Id})>
                            <h2 class="post-title">
                                @post.Title
                            </h2>
                        </a>
                        <p class="post-meta">
                            Created => @post.DateCreated.DateTime.ToString(), Updated => @if (post.DateUpdated.Year != 0001)
                            {@post.DateUpdated.DateTime.ToString()}
                            </p>
                        <div class="container-fluid mb-5">
                            <img src="@post.ImageUrl" alt="@post.Title" class="img-fluid" />
                        </div>

                        <div class="container-fluid">
                            <a href=@Url.Action("Edit", "Home", new { id = post.Id}) class="btn btn-warning">Edit</a>
                            <a href=@Url.Action("Delete", "Home", new { id = post.Id}) class="btn btn-danger">Delete</a>
                            <a href=@Url.Action("Details", "Home", new { id = post.Id}) class="btn btn-primary">Details</a>
                        </div>
                    </div>
                    <hr>
                }
            }

        </div>
    </div>
</div>